<% if flash[:message] %>
<h1><%= flash[:message => "You Suck"] %></h1>
<% end %>

<%= form_tag ('/sessions') do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "ZoDo Sesame" %>
<% end %>
