<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>

<body id="new_user_body">
<div class="signup-form">
  <h2>Log In</h2>
  <p class="hint-text">Log in to see your matches</p>
  <br>
  <div class="form-group ">
    <div class="row">
<%= form_tag ('/home') do %>
  <div class="col-xs-6">
    <p><%= email_field_tag :email, nil, placeholder: "Email", class: "form-control" %></p>
  </div>
  <div class="col-xs-6">
    <p><%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %></p>
  </div>
  <%= submit_tag "Submit", class:"btn btn-success btn-lg btn-block another-button" %>
  <div class="text-center">Don't have an account yet? <%= link_to "Sign up", new_user_path %></div>
<% end %>
</div>
</div>
</div>
</body>
