<h1>Edit New Drink</h1>

<%= form_for @drink do |f| %>
  <%= f.label "Drink Name" %>
  <%= f.text_field :drink_name %>

  <%= f.label "category" %>
  <%= f.text_field :category %>

  <%= f.label "Pick Image" %>
  <%= f.text_field :img_url %>

  <%= f.submit "Edit Custom Drink" %>
  <% end %>
