<style>
  body{
    background-image: url("https://i.pinimg.com/564x/24/e1/bc/24e1bca0b6c7aa85ed59d8bac03037bd.jpg");
    color:#01104b;
    font-family: 'Indie Flower';
    padding-left: 33%;
    padding-right: 33%;
  }
  a.hover {
    color: purple;
  }
  div {
    background-color: palevioletred;
    width: 300px;
    border: 2px solid mediumaquamarine;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 0.0002%;
    padding-bottom: 0.0002%;
    margin: 20px;
    text-align: center;
  }
</style>


<h1>Edit New Drink</h1>

<%= form_for @drink do |f| %>
  <div><br></br>
    <p><%= f.label "Drink Name" %></p>
    <p><%= f.text_field :drink_name %></p>

    <p><%= f.label "category" %></p>
    <p><%= f.text_field :category %></p>

    <p><%= f.label "Pick Image" %></p>
    <p><%= f.text_field :img_url %></p><br></br>
    <p><%= f.submit "Edit Drink" %></p><br></br>
  </div>
<% end %>
