<style>
  body{
    background-image: url("https://i.pinimg.com/564x/24/e1/bc/24e1bca0b6c7aa85ed59d8bac03037bd.jpg");
    color:#01104b;
    font-family: 'Indie Flower';
    padding-left: 13%;
    padding-right: 13%;

  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  a:link, a:visited {
    background-color: #d2a595;
    color: black;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  </style>

  <heading>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </heading>


<% @drink.users.each do |user| %>
<h1><%= user.name %></h1>
<% end %>

<% @drink.zodiacs.each do |name| %>
<img src=""<%= name.img_url %>">
<h3>Okay <%= name.zodiac_name %> </h3>
<h3>Forged From... <%= name.category %></h3>
<% end %>

<h2>The stars have alligned and they've decided... You Need a Drink! </h2>
<h3> Looks like you're drinking a: <%= @drink.drink_name %></h3>
   <%= image_tag("#{@drink.img_url}") %>


<h3> Surely you're not surprised that you are <%= @drink.category %>... what's up with that? </h3>

<div><i class="fas fa-beer"></i><%= link_to "Create", new_drink_path(@drink) %></div>
<div><i class="fas fa-beer"></i><%= link_to "Edit", edit_drink_path(@drink) %></div>
<div><i class="fas fa-beer"></i><%= link_to "Delete", @drink, method: "delete" %> </div>
<div><i class="fas fa-beer"></i><%= link_to "Home Page", drinks_path %></div><br></br>
