<style>
  body{
    background-image: url("https://i.pinimg.com/564x/24/e1/bc/24e1bca0b6c7aa85ed59d8bac03037bd.jpg");
    color:#01104b;
    font-family: 'Indie Flower';
    padding-left: 13%;
    padding-right: 13%;

  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10px;
  }
  /* a:link, a:visited {
    background-color: #d2a595;
    color: black;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  } */

  #drink-div {
    border-radius: 25px;
    background-color: rgba(209,165,150, 0.8);
    color: black;
    padding: 5px 4px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .drink-link {
    color: black;
  }
  </style>

  <heading>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </heading>

<div id="drink-div">
<% @drink.users.each do |user| %>
<h1><%= user.name %></h1>
<% end %>

<% @drink.zodiacs.each do |name| %>
<img src=""<%= name.img_url %>">
<h3>Okay <%= name.zodiac_name %> </h3>
<h3>Forged From... <%= name.category %></h3>
<% end %>

<h2>The stars have alligned and they've decided... You Need a Drink! </h2>
<h3> Looks like you're drinking a: <%= @drink.drink_name %></h3>
   <%= image_tag("#{@drink.img_url}") %>


<h3> Surely you're not surprised that you are <%= @drink.category %>... what's up with that? </h3>


<i class="fas fa-beer"></i><%= link_to " Edit this drink!", edit_drink_path(@drink), class: "drink-link" %><br>
<i class="fas fa-beer"></i><%= link_to " Delete dis drink!", @drink, method: "delete", class: "drink-link" %><br>
<i class="fas fa-beer"></i><%= link_to " Make a drink!", new_drink_path(@drink), class: "drink-link" %><br>
<i class="fas fa-beer"></i><%= link_to " See all drinks!", drinks_path, class: "drink-link" %><br>
<i class="fas fa-beer"></i><%= link_to " Your account!", @user, class: "drink-link" %>
</div>
