<style>
  body{
    background-image: url("https://i.pinimg.com/564x/a4/f1/9b/a4f19b17ad5441fe638a071f70b160f7.jpg");
    color:#01104b;
    font-family: 'Indie Flower';
    font-size: 40px;
    padding-left: 12%;
    padding-right: 12%;

  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

  }
  a:link, a:visited {
    background-color: #b29562;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
  <div>
  h3 {
    border: 5px solid magenta;
  }
  </div>
</style>
 <%= image_tag("#{@zodiac.img_url}") %>


<h3> Your Zodiac Sign Means You an <%= @zodiac.category %> sign and you are <%= @zodiac.description %> </h3>

<% @zodiac.drinks.each do |drink| %>
  <h3> Your Zodiac sign is telling you, you need a <%= link_to drink.drink_name, drink %></h3>
  <h3>because you're <%= drink.category %> AF!!</h3>
<% end %>
