<header>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</header>

<body class="user-show">
  <div class="user-show-div">
  <h1>Welcome, <%= @user.name %>! </h1>

  <% if @user.image.attached? %>
  <div class="picture">
        <%= image_tag @user.image, class: "image" %>
  </div>
  <br>
    <p>Your Sign: <%= link_to @user.zodiac.zodiac_name, zodiac_path(@user.zodiac), class: "sign" %><p>

  <% end %>

  <h3>Your drinks</h3>
  <% @user.drinks.each do |drink| %>
  <li><%= drink.drink_name %></li>
  <% end %>



  <div class="llinks">
    <%= link_to "EDIT ACCOUNT", edit_user_path, class: "links" %> |
    <%= link_to "LOGOUT", '/logout', method: :delete, class: "links" %> |
    <%= link_to "HOME", sessions_path, class: "links" %>
  </div>
  </div>
</div>
</div>
</body>
