<h1>User info</h1>
<p>Name: <%= @user.name %></p>
<p>Star Sign: <%= link_to @user.zodiac.zodiac_name, zodiac_path(@user.zodiac) %><p>
<%= link_to "Home", sessions_path %><br>
<%= link_to "Edit User", edit_user_path %>
<% if @user.image.attached? %>
<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @user.image %>
</p>
<% end %>

<h2>Drink List for your Sign</h2>
<% @user.drinks.each do |drink| %>
<li><%= drink.drink_name %></li>
<% end %>
